@import '../../_theme';

.post-list__header {
  align-items: baseline;
  display: flex;
}

.post-list__title {
  font-size: $font-size-large;
  font-weight: inherit;
}

.post-list__updated {
  display: block;
  font-size: $font-size-small;
  margin-left: 1rem;
  margin-top: 0.5rem;
}

