@import '../../_theme';

.post-list__header {
  align-items: center;
  flex-wrap: wrap;
  display: flex;
}

.post-list__title {
  font-size: $font-size-small;
  font-weight: $font-weight-bold;
  margin: 0 1rem 0 0;
}

.post-list__updated {
  display: block;
  font-size: $font-size-small;
  margin-right: 1rem;
}

