@import '../../_theme';

.post-list__tools {
  display: flex;
}

.post-list__button {
  background: $background-button;
  color: $text-button;
  border: 0;
  cursor: pointer;
  font-size: $font-size-small;
  font-family: inherit;
  font-weight: $font-weight-bold;
  padding: 0.5rem 1rem;
  text-transform: uppercase;

  &--type-sort-toggle {
    margin-right: 0.5rem;
  }
}
