$background-body: #171a1b;
$background-button: #0C0E0F;
$background-table-alternate: #222728;

$text-link-accent: #9a9084;
$text-button: #ffffff;
$text-title: #dadad7;
$text-default: #ffffff;

$font-size-default: 18px;
$font-size-small: 12px;
$font-size-large: 20px;

$font-weight-default: 400;
$font-weight-bold: 600;

$commentsLinkWidth: 120px;