body {
  font: 14px/1.2 sans-serif;
}

.post-list__header {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
}

.post-list__updated {
  display: block;
  font-size: 12px;
  font-weight: 200;
  margin-top: 0.5rem;
}
