@import '../../_theme';

.post-list__post {
  align-items: baseline;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 1rem;

  &:nth-child(odd) {
    background-color: $background-table-alternate;
  }
}

.post-list__post-domain {
  color: $text-link-accent;
  font-size: $font-size-small;
  font-weight: $font-weight-bold;
  margin-left: 1rem;
}

.post-list__post-title {
  color: $text-title;
  font-size: $font-size-large;
  width: calc(100% - 25vw);

  @media screen and (min-width: 480px) {
    width: calc(100% - #{$commentsLinkWidth});
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.post-list__comments-link {
  font-size: $font-size-large;
  text-align: right;
  width: 25vw;

  @media screen and (min-width: 480px) {
    font-size: $font-size-small;
    width: $commentsLinkWidth;
  }

  a {
    color: $text-link-accent;
    font-weight: $font-weight-bold;
    text-decoration: none;
  }

  span {
    display: none;

    @media screen and (min-width: 480px) {
      display: inline-block;
    }
  }
}
